<p>Find me in app/views/users/edit.html.erb</p>
<h1>Edit Profile</h1>

<%= render 'formedit' %>


<h3>Please complete your buyer profile</h3>
<div id="buyer_profile"><%= render 'buyerprofile' %>


<h3>Do you want to be a seller?</h3><button id="show">Yes</button><br/>
<div id="seller_profile"><%= render 'sellerprofile' %></div>


<h3>Ready to search for meals?</h3>


