<h1>Edit Profile</h1>

<%= render 'formedit' %>


<p>Find me in app/views/users/edit.html.erb</p>



<h3>Do you want to set up a buyer profile?</h3>


<%= render 'buyerprofile' %>



<p>Find me in app/views/users/edit.html.erb</p>




<h3>Do you want to set up a seller profile?</h3>


<%= render 'sellerprofile' %>